<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css"/>
    
  </head>
  <body>
    <style></style>
    <div
      class="container d-flex align-content-center justify-content-center m-auto"
    >
      <form method="POST" action="/register">
        <div class="mb-3 text-center">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            name="username"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="Repeat your password"
            required
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="terms" />
          I agree to all statements in
          <a href="terms_of_service.html">Terms of Service</a>
        </div>
        <a
          type="submit"
          class="w-100 btn btn-outline-dark mt-auto mb-3"
          role="button"
        >
          Register
        </a>
        <a
          class="d-flex flex-row w-100 justify-content-center align-items-center px-7 py-8 btn btn-outline-dark mt-auto"
          href="/auth/google"
          role="button"
        >
          <i class="fab fa-google m-2"></i>
          Sign Up with Google
        </a>
      </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <%- include("partials/footer") %>
  </body>
</html>
