.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100vh;
}

.Company-logo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.Home-description {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}



.title {
  text-align: center;
  font-size: 2.5rem;
  
}
@media (max-width: 768px) {
  .Home-description {
    flex-direction: column;
    text-align: center;
  }

  .Company-logo {
    width: 200px;
    height: 200px;
  }
}
