footer {
    text-align: center;
    
    background-color: #000; /* solid black */
    box-shadow: 0 0 10px #222, 0 0 20px #444, 0 0 30px #666;
    color: white;
    padding: 30px;
    
    margin-top: auto; 
    
}