<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <style></style>
    <div
      class="container d-flex align-content-center justify-content-center m-auto"
    >
      <!-- <h2 style="display: flex; align-content: center">Sign Up</h2> -->
      <form method="POST" action="/register">
        <div class="mb-3 text-center">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            name="username"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            placeholder="Repeat your password"
            required
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="terms" />
          I agree to all statements in
          <a href="terms_of_service.html">Terms of Service</a>
        </div>
        <button type="submit" class="w-100 btn btn-outline-dark mt-auto">
          Register
        </button>
      </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <%- include("partials/footer") %>
  </body>
</html>
