
.About-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 30px;
}


.About-text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #333;
  line-height: 1.6;
}

.About-subsection {
  margin-top: 20px;
}

.About-subsection h2 {
  color: crimson;
  margin-bottom: 8px;
}

.About-subsection ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .About-text {
    text-align: center;
  }

  .About-subsection ul {
    text-align: left;
    display: inline-block;
  }
}
